dist/about.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;display=swap&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/svgxuse.js" defer></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper about" id="page-wrapper">
    <header class="wrapper header" id="header">
      <div class="header__hint">
        <div class="container"><span class="header__hint-text">При покупке от 3 000 ₽ бесплатная доставка курьером в пределах мкад или Почтой россии. Для международной доставки cкидка 500 ₽.</span></div><i class="js-close-header-hint">
          <svg class="icon icon-close ">
            <use xlink:href="img/svgsprite/sprite.svg#close"></use>
          </svg></i>
      </div>
      <div class="header__line-wrapper">
        <div class="container">
          <div class="header__line">
            <div class="header__menu-btn js-mobile-menu">
              <svg class="icon icon-mobile-menu ">
                <use xlink:href="img/svgsprite/sprite.svg#mobile-menu"></use>
              </svg>
            </div>
            <div class="header__line-phone"><a href="tel:84959881614">8 (495) 988-16-14</a><a href="tel:88005505001">8 (800) 550-500-1</a></div>
            <div class="header__line-logo"><a href="/">
                <svg class="icon icon-logo ">
                  <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
                </svg></a></div>
            <div class="header__line-icons"><a class="header__ico-lang ru" href="#"></a><a class="header__ico-box" href="#">
                <svg class="icon icon-box ">
                  <use xlink:href="img/svgsprite/sprite.svg#box"></use>
                </svg></a><a class="header__ico-user" href="#">
                <svg class="icon icon-user ">
                  <use xlink:href="img/svgsprite/sprite.svg#user"></use>
                </svg></a><a class="header__ico-bag" href="#">
                <svg class="icon icon-bag ">
                  <use xlink:href="img/svgsprite/sprite.svg#bag"></use>
                </svg><span class="header__ico-bag-nubmer">1</span></a></div>
          </div>
        </div>
        <div class="menu-mobile">
          <div class="menu-mobile__logo"><i>
              <svg class="icon icon-logo ">
                <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
              </svg></i></div>
          <div class="menu-mobile__wrapper">
            <form class="menu-mobile__search">
              <input type="search" name="search" placeholder="Поиск по каталогу" id="search-mobile">
              <div class="search-scroll-container ss-container" id="search1-container">
                <div class="ss-wrapper">
                  <div class="ss-content">
                    <ul class="form__search-list" id="search1-result">
                      <li class="search-text-only search-suggestion"><a href="#"><b>бр</b></a></li>
                      <li class="search-text-only search-suggestion"><a href="#"><b>бр</b>юки</a></li>
                      <li class="search-text-only search-suggestion"><a href="#"><b>бр</b>ю</a></li>
                      <h3>Категории</h3>
                      <li class="search-text-only search-category"><a href="#"><b>Бр</b>юки, джинсы, легинсы</a></li>
                      <li class="search-text-only search-category"><a href="#"><b>Бр</b>юки</a></li>
                      <li class="search-text-only search-category"><a href="#">Утепленные <b>бр</b>юки, легинсы</a></li>
                      <h3>Популярные товары</h3>
                      <li><a class="catalog__desc-link" href="#"><img src="./img/card/card-img_01.jpg"></a>
                        <div class="search-product-info"><a class="catalog__desc-name" href="#"><b>Бр</b>юки "<b>Бр</b>айт" для беременных черный</a><span class="catalog__desc-value">1499</span><span class="catalog__desc-sign">руб.</span></div>
                      </li>
                      <li><a class="catalog__desc-link" href="#"><img src="./img/card/card-img_01.jpg"></a>
                        <div class="search-product-info"><a class="catalog__desc-name" href="#"><b>Бр</b>юки "<b>Бр</b>айт" для беременных черный</a><span class="catalog__desc-value">1499</span><span class="catalog__desc-sign">руб.</span></div>
                      </li>
                      <li><a class="catalog__desc-link" href="#"><img src="./img/card/card-img_01.jpg"></a>
                        <div class="search-product-info"><a class="catalog__desc-name" href="#"><b>Бр</b>юки "<b>Бр</b>айт" для беременных черный</a><span class="catalog__desc-value">1499</span><span class="catalog__desc-sign">руб.</span></div>
                      </li>
                      <li><a class="catalog__desc-link" href="#"><img src="./img/card/card-img_01.jpg"></a>
                        <div class="search-product-info"><a class="catalog__desc-name" href="#"><b>Бр</b>юки "<b>Бр</b>айт" для беременных черный</a><span class="catalog__desc-value">1499</span><span class="catalog__desc-sign">руб.</span></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="menu-mobile__button"><a class="btn" href="#">Посмотреть все результаты</a></div>
            </form>
            <div class="menu-mobile__catalog">
              <h3 class="menu-mobile__title">Каталог</h3>
              <div class="menu-mobile__item">
                <div class="menu-mobile__name"><span class="js-catalog-mob">Для беременных и кормящих<i></i></span>
                  <div class="menu-mobile__submenu-content">
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Белье, колготки, бандажи<i></i></a><a class="menu__submenu-link" href="#">Бюстгальтеры, топы</a><a class="menu__submenu-link" href="#">Трусы</a><a class="menu__submenu-link" href="#">Комплекты белья</a><a class="menu__submenu-link" href="#">Бандажи</a><a class="menu__submenu-link" href="#">Колготки</a><a class="menu__submenu-link" href="#">Компрессионное белье</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Блузки, рубашки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Брюки, джинсы, легинсы<i></i></a><a class="menu__submenu-link" href="#">Брюки</a><a class="menu__submenu-link" href="#">Джинсы</a><a class="menu__submenu-link" href="#">Легинсы</a><a class="menu__submenu-link" href="#">Утепленные брюки, легинсы</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Верхняя одежда<i></i></a><a class="menu__submenu-link" href="#">Жилеты, дождевики</a><a class="menu__submenu-link" href="#">Куртки демисезонные, плащи</a><a class="menu__submenu-link" href="#">Куртки, комплекты зимние</a><a class="menu__submenu-link" href="#">Слингокуртки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Джемперы и толстовки<i></i></a><a class="menu__submenu-link" href="#">Джемперы</a><a class="menu__submenu-link" href="#">Толстовки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Лонгсливы<i></i></a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Майки и топы<i></i></a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Одежда для дома и сна<i></i></a><a class="menu__submenu-link" href="#">Комплекты для дома</a><a class="menu__submenu-link" href="#">Ночные сорочки</a><a class="menu__submenu-link" href="#">Прочее</a><a class="menu__submenu-link" href="#">Халаты</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Платья и сарафаны<i></i></a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Комбинезоны и костюмы<i></i></a><a class="menu__submenu-link" href="#">Комбинезоны</a><a class="menu__submenu-link" href="#">Костюмы</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Комплекты для роддома</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Юбки и шорты<i></i></a><a class="menu__submenu-link" href="#">Шорты</a><a class="menu__submenu-link" href="#">Юбки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title js-mobile-submenu" href="#">Футболки<i></i></a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                  </div>
                </div>
              </div>
              <div class="menu-mobile__item">
                <div class="menu-mobile__name"><span class="js-catalog-mob">Аксессуары<i></i></span>
                  <div class="menu-mobile__submenu-content"></div>
                </div>
              </div>
            </div>
            <div class="menu-mobile__links"><a href="#">Look Book</a><a href="#">Новинки</a><a href="#">Товары со скидкой</a><a href="#">Межсезонная распродажа</a></div>
            <div class="menu-mobile__lk">
              <div class="menu-mobile__lk-title">Личный кабинет</div>
              <div class="menu-mobile__lk-item"><a class="menu-mobile__lk-login" href="#">Войти
                  <svg class="icon icon-user ">
                    <use xlink:href="img/svgsprite/sprite.svg#user"></use>
                  </svg></a><a class="menu-mobile__lk-order" href="#">Где мой заказ
                  <svg class="icon icon-box ">
                    <use xlink:href="img/svgsprite/sprite.svg#box"></use>
                  </svg></a></div>
            </div>
            <div class="menu-mobile__customer"><a class="menu-mobile__customer-title" href="#">Покупателю</a>
              <div class="menu-mobile__customer-list"><a href="#">Оплата</a><a href="#">Доставка</a><a href="#">Как купить</a><a href="#">Вопросы</a><a href="#">Таблица размеров</a><a href="#">Видео инструкции</a><a href="#">Скидки</a><a href="#">Программа лояльности</a></div>
            </div>
            <div class="menu-mobile__other"><a class="menu-mobile__other-shops" href="#">Наши магазины
                <svg class="icon icon-marker ">
                  <use xlink:href="img/svgsprite/sprite.svg#marker"></use>
                </svg></a><a class="menu-mobile__other-lang" href="#">Язык
                <div class="header__ico-lang ru"></div></a></div><a class="menu-mobile__close js-close-menu" href="#">
              <svg class="icon icon-close ">
                <use xlink:href="img/svgsprite/sprite.svg#close"></use>
              </svg></a>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="header__menu-wrapper">
        <div class="container">
          <div class="header__menu">
            <nav class="menu" id="js-menu">
              <div class="menu__item active"><a class="menu__item-link" href="#">Одежда для беременных и кормящих</a>
                <div class="menu__submenu">
                  <div class="menu__submenu-content">
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Белье, колготки, бандажи</a><a class="menu__submenu-link" href="#">Бюстгальтеры, топы</a><a class="menu__submenu-link" href="#">Трусы</a><a class="menu__submenu-link" href="#">Комплекты белья</a><a class="menu__submenu-link" href="#">Бандажи</a><a class="menu__submenu-link" href="#">Колготки</a><a class="menu__submenu-link" href="#">Компрессионное белье</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Блузки, рубашки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Брюки, джинсы, легинсы</a><a class="menu__submenu-link" href="#">Брюки</a><a class="menu__submenu-link" href="#">Джинсы</a><a class="menu__submenu-link" href="#">Легинсы</a><a class="menu__submenu-link" href="#">Утепленные брюки, легинсы</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Верхняя одежда</a><a class="menu__submenu-link" href="#">Жилеты, дождевики</a><a class="menu__submenu-link" href="#">Куртки демисезонные, плащи</a><a class="menu__submenu-link" href="#">Куртки, комплекты зимние</a><a class="menu__submenu-link" href="#">Слингокуртки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Джемперы и толстовки</a><a class="menu__submenu-link" href="#">Джемперы</a><a class="menu__submenu-link" href="#">Толстовки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Лонгсливы</a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Майки и топы</a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Одежда для дома и сна</a><a class="menu__submenu-link" href="#">Комплекты для дома</a><a class="menu__submenu-link" href="#">Ночные сорочки</a><a class="menu__submenu-link" href="#">Прочее</a><a class="menu__submenu-link" href="#">Халаты</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Платья и сарафаны</a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Комбинезоны и костюмы</a><a class="menu__submenu-link" href="#">Комбинезоны</a><a class="menu__submenu-link" href="#">Костюмы</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Комплекты для роддома</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Юбки и шорты</a><a class="menu__submenu-link" href="#">Шорты</a><a class="menu__submenu-link" href="#">Юбки</a></div>
                    <div class="menu__submenu-block"><a class="menu__submenu-title" href="#">Футболки</a><a class="menu__submenu-link" href="#">Для беременных</a><a class="menu__submenu-link" href="#">Для беременных и кормящих</a><a class="menu__submenu-link" href="#">Для кормящих</a></div>
                    <div class="menu__submenu-block menu__submenu-block--others"><a class="menu__submenu-link" href="#">Новинки</a><a class="menu__submenu-link" href="#">Товары со скидкой</a><a class="menu__submenu-link" href="#">Межсезонная распродажа</a></div>
                  </div><a class="menu__submenu-content-img" href="#"><img src="./img/menu-img.png" alt=""><span>Товары <br>со скидкой
                      <svg class="icon icon-tag ">
                        <use xlink:href="img/svgsprite/sprite.svg#tag"></use>
                      </svg></span></a>
                </div>
              </div>
              <div class="menu__item"><a class="menu__item-link" href="#">Аксессуары</a></div>
              <div class="menu__item"><a class="menu__item-link" href="#">Оплата</a></div>
              <div class="menu__item"><a class="menu__item-link" href="#">Доставка</a></div>
              <div class="menu__item"><a class="menu__item-link" href="#">Магазины</a></div>
              <div class="menu__item"><a class="menu__item-link" href="#">LookBook</a></div>
            </nav>
          </div>
        </div>
      </div>
      <div class="header__search-wrapper">
        <div class="container">
          <div class="header__search">
            <form class="header__search-form">
              <input class="search" type="search" name="search" placeholder="Поиск по каталогу" id="search">
            </form>
          </div>
        </div>
      </div>
    </header>
    <div class="cart">
      <div class="checkout__aside">
        <h3 class="checkout__aside-title">Корзина</h3>
        <div class="checkout__order-wrapper">
          <div class="checkout__order">
            <div class="checkout__order-img-info">
              <div class="checkout__order-img"><img src="./img/checkout-item.png" alt=""><span class="checkout__order-quantity">1</span></div>
              <div class="checkout__order-info"><span class="checkout__order-text"><b>Сарафан «Сефора»</b></span><span class="checkout__order-text">Размер: 44</span><span class="checkout__order-text">Цвет: фиалковый</span>
                <div class="checkout__order-price mobile"><span>3 299<span>&nbsp;₽</span></span></div>
              </div>
            </div>
            <div class="checkout__order-price"><span>3 299<span>&nbsp;₽</span></span></div>
          </div>
          <div class="checkout__order">
            <div class="checkout__order-img-info">
              <div class="checkout__order-img"><img src="./img/checkout-item.png" alt=""><span class="checkout__order-quantity">1</span></div>
              <div class="checkout__order-info"><span class="checkout__order-text"><b>Сарафан «Сефора»</b></span><span class="checkout__order-text">Размер: 44</span><span class="checkout__order-text">Цвет: фиалковый</span>
                <div class="checkout__order-price mobile"><span>3 299<span>&nbsp;₽</span></span></div>
              </div>
            </div>
            <div class="checkout__order-price"><span>3 299<span>&nbsp;₽</span></span></div>
          </div>
        </div>
        <div class="checkout__promo">
          <input type="text" name="promo" placeholder="Промокод"><a href="#">Применить</a>
        </div>
        <div class="checkout__order-price-block">
          <div class="checkout__order-price-data"><span>Стоимость заказа:</span><span>3 299<span>&nbsp;₽</span></span></div>
          <div class="checkout__order-price-data"><span>Доставка:</span><span>317<span>&nbsp;₽</span></span></div>
          <div class="checkout__order-price-data"><span>Итого:</span><span>3 616<span>&nbsp;₽</span></span></div>
        </div>
        <div class="card__store-box">
          <div class="card__store">Дополните заказ на <span><b>650 ₽</b></span> и получите <br> Бесплатную доставку!</div>
        </div>
        <div class="card__buttons"><a class="btn btn--border" href="#">купить в один клик</a><a class="btn" href="#">оформить заказ</a></div>
        <div class="cart__cross"></div>
      </div>
    </div>
    <div class="page-body" id="page-body">
      <div class="big-container">
        <div class="about__row">
          <div class="about__col about__col-8">
            <div class="about__item"><img src="./img/about/about-img_01.jpg" alt=""></div>
          </div>
          <div class="about__col about__col-4">
            <div class="about__item">
              <div class="about__title">
                <div class="about__logo">
                  <svg class="icon icon-logo ">
                    <use xlink:href="img/svgsprite/sprite.svg#logo"></use>
                  </svg>
                </div>
              </div>
              <div class="about__desc">Ведущий производитель одежды для беременных и кормящих.</div><a class="btn" href="#">Перейти в каталог</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="about-info__row"><a class="about-info__item" href="#">
            <div class="about-info__number">2009</div>
            <div class="about-info__desc">Год основания копия</div></a><a class="about-info__item" href="#">
            <div class="about-info__number">50K+</div>
            <div class="about-info__desc">Заказов ежегодно</div></a><a class="about-info__item" href="#">
            <div class="about-info__number">200+</div>
            <div class="about-info__desc">Диллеров в 7 странах</div></a><a class="about-info__item" href="#">
            <div class="about-info__number">700</div>
            <div class="about-info__desc">Цветомоделей в сезон</div></a><a class="about-info__item" href="#">
            <div class="about-info__number">12</div>
            <div class="about-info__desc">Патентов на одежду</div></a></div>
      </div>
      <div class="big-container">
        <div class="about__row about__row-reverse">
          <div class="about__col about__col-8">
            <div class="about__item"><img src="./img/about/about-img_02.jpg" alt=""></div>
          </div>
          <div class="about__col about__col-4">
            <div class="about__item">
              <div class="about__title">Производство</div>
              <div class="about__desc">Нашу продукцию мы производим на наших фабриках в России.<br> С удовольствием отправим заказ в любую точку планеты.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="about__row">
          <div class="about__discount">
            <div class="about__title">Для постоянных покупателей</div>
            <div class="about__desc">У нас работает программа лояльности позволяющая сэкономить До 17%</div>
            <div class="about__discount-mark"><span>Скидка</span></div>
          </div>
        </div>
      </div>
      <div class="big-container">
        <div class="about__row">
          <div class="about__col about__col-8">
            <div class="about__item"><img src="./img/about/about-img_03.jpg" alt=""></div>
          </div>
          <div class="about__col about__col-4">
            <div class="about__item">
              <div class="about__title">Производители</div>
              <div class="about__desc">Помимо собственной продукции в интернет-магазине представлено белье Российских производителей.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="about__row">
          <div class="about__details">
            <div class="about__details-title">Наши реквизиты</div>
            <div class="about__details-info">
              <div class="about__details-desc"><span>ИП</span><span>Фомичев В.А.</span></div>
              <div class="about__details-desc"><span>ИНН</span><span>773101615987</span></div>
              <div class="about__details-desc"><span>ОГРНИП</span><span>311774606400281</span></div>
              <div class="about__details-desc"><span>Р/с <br><span>в Сбербанк России ОАО  г.Москва</span></span><span>4080 2810 4382 6000 4360</span></div>
              <div class="about__details-desc"><span>БИК</span><span>044 525 225</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="wrapper footer" id="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__menu-wrapper">
            <div class="footer__menu"><a class="footer__menu-item" href="#">О нас</a><a class="footer__menu-item" href="#">Контакты</a><a class="footer__menu-item" href="#">Магазины</a><a class="footer__menu-item" href="#">Как купить</a><a class="footer__menu-item" href="#">Возврат</a><a class="footer__menu-item" href="#">Скидки</a><a class="footer__menu-item" href="#">Вопросы</a><a class="footer__menu-item" href="#">Таблица размеров</a></div>
            <div class="footer__menu"><a class="footer__menu-item" href="#">Видео-инструкции</a><a class="footer__menu-item" href="#">Новости</a><a class="footer__menu-item" href="#">Обработка персональных данных</a><a class="footer__menu-item" href="#">Программа лояльности</a></div>
          </div>
          <div class="footer__social"><a class="footer__social-item fb" href="#">
              <svg class="icon icon-fb ">
                <use xlink:href="img/svgsprite/sprite.svg#fb"></use>
              </svg></a><a class="footer__social-item insta" href="#">
              <svg class="icon icon-insta ">
                <use xlink:href="img/svgsprite/sprite.svg#insta"></use>
              </svg></a><a class="footer__social-item vk" href="#">
              <svg class="icon icon-vk ">
                <use xlink:href="img/svgsprite/sprite.svg#vk"></use>
              </svg></a><a class="footer__social-item ytube" href="#">
              <svg class="icon icon-ytube ">
                <use xlink:href="img/svgsprite/sprite.svg#ytube"></use>
              </svg></a></div><span class="footer__copy">© 2009-2019, iLovemum</span><span class="footer__text">Интернет-магазин одежды для беременных</span><span class="footer__site">Разработка сайта<a href="#">PIXITE</a></span>
        </div>
      </div>
    </footer>
  </div><!-- inject:js -->
<!-- endinject -->
<!-- build:js -->
  <script src="js/libs.js"></script>
  <script src="//localhost:35729/livereload.js"></script><!-- endbuild -->
  <script src="js/common.js"></script>
</html>

src/chunks/about.pug
.big-container
    .about__row
        .about__col.about__col-8
            .about__item
                img(src="./img/about/about-img_01.jpg" alt="")
        .about__col.about__col-4
            .about__item
                .about__title
                    .about__logo
                        +icon("logo")
                .about__desc Ведущий производитель одежды для беременных и кормящих.
                a(href="#").btn Перейти в каталог
.container
    .about-info__row
        a(href="#").about-info__item
            .about-info__number 2009
            .about-info__desc Год основания копия
        a(href="#").about-info__item
            .about-info__number 50K+
            .about-info__desc Заказов ежегодно
        a(href="#").about-info__item
            .about-info__number 200+
            .about-info__desc Диллеров в 7 странах
        a(href="#").about-info__item
            .about-info__number 700
            .about-info__desc Цветомоделей в сезон
        a(href="#").about-info__item
            .about-info__number 12
            .about-info__desc Патентов на одежду
.big-container
    .about__row.about__row-reverse
        .about__col.about__col-8
            .about__item
                img(src="./img/about/about-img_02.jpg" alt="")
        .about__col.about__col-4
            .about__item
                .about__title Производство
                .about__desc Нашу продукцию мы производим на наших фабриках в России.<br> С удовольствием отправим заказ в любую точку планеты.
.container
    .about__row
        .about__discount
            .about__title Для постоянных покупателей
            .about__desc У нас работает программа лояльности позволяющая сэкономить До 17%
            .about__discount-mark
                span Скидка
.big-container
    .about__row
        .about__col.about__col-8
            .about__item
                img(src="./img/about/about-img_03.jpg" alt="")
        .about__col.about__col-4
            .about__item
                .about__title Производители
                .about__desc Помимо собственной продукции в интернет-магазине представлено белье Российских производителей.
.container
    .about__row
        .about__details
            .about__details-title Наши реквизиты
            .about__details-info
                .about__details-desc
                    span ИП
                    span Фомичев В.А.
                .about__details-desc
                    span ИНН
                    span 773101615987
                .about__details-desc
                    span ОГРНИП
                    span 311774606400281
                .about__details-desc
                    span Р/с <br>
                        span в Сбербанк России ОАО  г.Москва
                    span 4080 2810 4382 6000 4360
                .about__details-desc
                    span БИК
                    span 044 525 225
